
.header {
    height: 100px;
    font-size: 35pt;
    font-weight: bold;
    margin-top: 0px;
    padding: 0 0 0 50px;
    text-align: center;
}

.row{
    color: red;
    text-align: center;
}

.block {
    padding: 50px  50px 10px;
    height: 200px;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin: 100px;
    text-decoration: none;

}

body {
    padding-top: 50px !important;
}

button{
    background-color: grey;
}

.btn{
    border: 1px;
    border-radius: 10px;
    padding: 5px,10px;
}
