.head{
    color: black;
    text-align: center;
}

/* Your existing styles */

.horizontal-select {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin between selects */
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .horizontal-select {
      display: block;
      margin-bottom: 10px; /* Adjust the margin for stacking on smaller screens */
    }
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Optional: set a minimum height for centering vertically */
  }