
a:hover{
  color: greenyellow;
  /* adds yellow hover affect on the links when cursor moves over them */
  cursor: pointer;
}

a{
  text-decoration: none;
  /* global text decoration is ignored on the elements*/
}